@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<BookView>;

@{
    if (ViewBag.Title != null)
    {

        ViewData["Title"] =  ViewBag.Title;
    }
    else
    {
        ViewData["Title"] = "Thể loại Sách";
        ViewBag.Title = null;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Title != null)
{
    <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/img/bg3.jpg) no-repeat scroll center center;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">@ViewBag.Title</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<div class="portfolio-grid-area bg__white pt--130 pb--100">
    <div class="container">
        <div class="portfolio-style">
            <div class="row grid" style="position: relative; height: 2040px;">
                @if (Model.Count != 0)
                {
                    foreach (var book in Model)
                    {
                        <div class="col-4 col-md-6 col-sm-6 col-xs-12 grid-item cat2 cat3 product_img">
                            <div class="single-portfolio-card mb--30">
                                <div class="portfolio-img">
                                    <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@book.BookId">

                                        <img src="~/img/@book.ImagePath">
                                    </a>
                                    <div>

                                        <a class="img-poppu" href="~/img/03db34cb-abfe-49f3-9e6a-2f8f8b204ba6_book2.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="portfolio-title portfolio-card-title text-center">
                                    <span><a style="font-size: 2em; color: #FF4136; text-shadow: 1px 1px 1px #FFF, 1px 1px 1px #FFF, 1px 1px 1px #FFF, 1px 3px 3px #000;">@book.StatusName</a></span>
                                   
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h3 class="alert alert-danger"> Hiện tại không có Sách nào thuộc Thể loại này</h3>
                }

            </div>
        </div>
    </div>
</div>
<div>

    @Html.PagedListPager(Model, page => Url.Action($"GetBookByCategory", new { page }))
</div>

<style>
    .pagination {
        width: 100%;
        display: inline-flex;
    }

        .pagination > li {
            padding: 0px 0px !important;
            margin-right: 1px;
            border-radius: 5px;
        }
</style>

