
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dataCategory = ViewBag.ListCategory != null ? ViewBag.ListCategory as List<CategoryView> : new List<CategoryView>();
    var dataBook = ViewBag.ListBook != null ? ViewBag.ListBook as List<BookView> : new List<BookView>();
    var topLoan = ViewBag.TopLoan != null ? ViewBag.TopLoan as List<BookView> : new List<BookView>();
    var topNew = ViewBag.TopNew != null ? ViewBag.TopNew as List<BookView> : new List<BookView>();
    var rnd = ViewBag.Random != null ? ViewBag.Random as List<BookView> : new List<BookView>();
}

<div class="body__overlay"></div>
<!-- Start Offset Wrapper -->
<div class="offset__wrapper">
    <!-- Start Search Popap -->
    <!-- End Search Popap -->
    <!-- Start Offset MEnu -->
    <!-- End Offset MEnu -->
    <!-- Start Cart Panel -->
    <!-- End Cart Panel -->
</div>
<!-- End Offset Wrapper -->
<!-- Start Feature Product -->
<section class="categories-slider-area bg__white">
    <div class="container">
        <div class="row">
            <!-- Start Left Feature -->
            <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style">
                <!-- Start Slider Area -->
                <div class="slider__container slider--one">
                    <div class="slider__activation__wrap owl-carousel owl-theme">

                        <!-- Start Single Slide -->
                        <div class="slide slider__full--screen slider-height-inherit slider-text-left" style=" background: rgba(0, 0, 0, 0) url(img/sachthang9.jpg) no-repeat scroll center center;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                        <div class="slider__inner">
                                            <h1 style="color:red">Read Book <span class="text--theme">EveryDay</span></h1>
                                            <div class="slider__btn">
                                                @*<a class="htc__btn" href="cart.html">shop now</a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slide -->
                        <!-- Start Single Slide -->
                        <div class="slide slider__full--screen slider-height-inherit  slider-text-left" style="background: rgba(0, 0, 0, 0) url(img/bookbanner11.jpg) no-repeat scroll center center;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                        <div class="slider__inner">
                                            <h1>Sách Hay <span class="text--theme">Mượn Ngay</span></h1>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slide -->
                    </div>
                </div>
                <!-- Start Slider Area -->
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 float-right-style">
                <div class="categories-menu mrg-xs">
                    <div class="category-heading">
                        <h3> Danh Mục</h3>
                    </div>
                    <div class="category-menu-list">
                        <ul id="categories"></ul>

                    </div>
                </div>
            </div>
            <!-- End Left Feature -->
        </div>
    </div>
</section>
<!-- End Feature Product -->

<div class="only-banner ptb--100 bg__white">
    <div class="container">
        <div class="only-banner-img">
            <a ><img src="~/img/bookbanner14.jpg" alt="new product"></a>
        </div>
    </div>
</div>
<!-- Start Blog Area -->
<!-- Start Blog Area -->

<section class="htc__blog__area bg__white pb--130">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title section__title--2 text-center">
                    <h2 class="text__a clip-text clip-textGif" style="font-size: 31px;color: #FF4136;border-bottom: 1px solid #d5d5d5">
                        Top sách mượn nhiều nhất
                    </h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="product" id="topLoanBook">
                <!-- Start Single Blog -->
                @*@foreach (var toploan in topLoan)
                {
                    <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-4 col-xs-12">
                        <div class="product__details">
                            <div class="product__inner">
                                <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@toploan.BookId">
                                    <img src="~/img/@toploan.ImagePath" alt="blog images" />

                                </a>
                                <div class="product__price">
                                    <span style="text-align: center; font-size: 1.5em; margin-left: 140px;">@toploan.StatusName</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@

                <!-- End Single Blog -->
                <!-- Start Single Blog -->
                <!-- End Single Blog -->
            </div>
        </div>
    </div>
</section>
<section class="htc__blog__area bg__white pb--130">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title section__title--2 text-center">
                    <h2 class="text__a clip-text clip-textGif" style="font-size: 31px;color: #FF4136;border-bottom: 1px solid #d5d5d5">
                        Top sách mới nhất
                    </h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="product" id="topNewBook">
             
            </div>
        </div>
    </div>
</section>
<section class="htc__blog__area bg__white pb--130">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title section__title--2 text-center">
                    <h2 class="text__a clip-text clip-textGif" style="font-size: 31px;color: #FF4136;border-bottom: 1px solid #d5d5d5">
                        Có thể bạn thích
                    </h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="product" id="randomBook">
          
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/homeIndex.js" asp-append-version="true"></script>
}
<!-- End Single Blog -->
