@{
    ViewData["Title"] = "Book List";
    var imagePath = $"/img/none-imgbook.png";
    var maxDate = DateTime.Now.ToString("yyyy/MM/dd");
}

<div class="text-left">
    <br />
    <h3 class="display-4 text-success text-center">QUẢN LÝ SÁCH</h3>
    <a href="javascript:;" onclick="book.openModal()" class="btn btn-primary" style="width: auto;">+ Thêm sách mới</a>
    <hr />
    <table id="tbBooks" class="table table-bordered table-hover table-primary">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>#ID</th>
                <th>Tên sách</th>
                <th>Loại sách</th>
                <th>Ngày xuất bản</th>
                <th>Trạng thái</th>
                <th>Hình ảnh</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div class="modal" id="addEditBookModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-primary" id="modalBookTitle"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="fromAddEditBook">
                    <input hidden name="BookId" id="BookId" value="0" />
                    <input hidden name="ImagePath" id="ImagePath" value="" />
                    <div class="row col-xl-12">
                        <div class="col-xl-8 col-md-12">
                            <div class="row form-group">
                                <label for="BookName" class="col-3">Tên sách:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Tên sách"
                                           id="BookName" name="BookName"
                                           data-rule-required="true"
                                           data-msg-required="Tên Sách không được để trống"
                                           data-rule-maxlength="200"
                                           data-msg-maxlength="Tên sách quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="CategoryId" class="col-3">Thể loại:</label>
                                <div class="col-9">
                                    <select class="form-control" id="Categoryies" name="Categoryies"
                                            data-rule-required="true"
                                            data-msg-required="Chưa chọn thể loại sách">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Author" class="col-3">Tác giả:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Tác giả"
                                           id="Author" name="Author"
                                           data-rule-required="true"
                                           data-msg-required="Tên Tác giả không được để trống"
                                           data-rule-maxlength="200"
                                           data-msg-maxlength="Tên Tác giả quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Dop" class="col-3">Ngày xuất bản:</label>
                                <div class="col-9">
                                    <input type="date" class="form-control" my-date-format="dd/MM/yyyy"
                                           id="Dop" name="Dop"
                                           max="@maxDate"
                                           data-rule-required="true"
                                           data-msg-required="Ngày xuất bản không được để trống">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="PublishCompany" class="col-3">Nhà xuất bản:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Nhà xuất bản"
                                           id="PublishCompany" name="PublishCompany"
                                           data-rule-required="true"
                                           data-msg-required="Nhà xuất bản không được để trống"
                                           data-rule-maxlength="200"
                                           data-msg-maxlength="Nhà xuất bản quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Description" class="col-3">Tóm tắt nội dung :</label>
                                <div class="col-9">
                                    <textarea class="form-control" rows="3" for="Description" placeholder="Nội dung"
                                              id="Description" name="Description"
                                              data-rule-required="true"
                                              data-msg-required="Tóm tắt nội dung sách không được để trống"
                                              data-rule-maxlength="2000"
                                              data-msg-maxlength="Tóm tắt nội dung sách quá dài"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Page" class="col-3">Số trang sách :</label>
                                <div class="col-9">
                                    <input type="number" class="form-control" rows="3" for="Page" placeholder="Số trang"
                                           id="Page" name="Page"
                                           min="10" max="10000"
                                           data-rule-required="true"
                                           data-msg-required="Số trang sách không được để trống"
                                           data-rule-min="20"
                                           data-msg-min="Số trang sách nhỏ hơn giá trị tối thiểu"
                                           data-rule-max="10000"
                                           data-msg-max="Số trang sách vượt quá quy định">
                                </div>
                            </div>
                            <div class="row form-group" id="QuantityBook">
                                <label for="Quantity" class="col-3">Số lượng nhập kho:</label>
                                <div class="col-9">
                                    <input type="number" class="form-control" rows="3" for="Quantity" placeholder="Số lượng"
                                           id="Quantity" name="Quantity"
                                           min="1" max="10000"
                                           data-rule-required="true"
                                           data-msg-required="Số lượng nhập kho không được để trống"
                                           data-rule-min="1"
                                           data-msg-min="Số lượng nhập kho nhỏ hơn giá trị tối thiểu"
                                           data-rule-max="10000"
                                           data-msg-max="Số lượng nhập kho vượt quá quy định">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Image" class="col-3">Hình ảnh:</label>
                                <div class="col-9">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input form-control" placeholder="Hình ảnh" onchange="book.changeImage()"
                                               id="Image" name="Image">
                                        <label class="custom-file-label" for="Image" id="labelBook">Chọn file</label>
                                        <label id="msgImg" class="error"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="m-5">
                                <img src="@imagePath" id="image_upload_preview" asp-append-version="true" style="width:300px; height: 300px;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-12">
                    <h5 class="alert alert-danger text-break text-center" id="msgResult"></h5>
                </div>
                <a href="javascript:;" class="btn btn-success" onclick="book.checkSave()">Lưu</a>
                <button type="button" class="btn btn-danger" id="closeModal" data-dismiss="modal">Hủy</button>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Image").change(function () {
            readURL(this);
        });

        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });
    </script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/book.js" asp-append-version="true"></script>
}