@{
    ViewData["Title"] = "Student List";
    var avatarPath = $"/img/none-avatar.png";
    var maxDate = DateTime.Now.ToString("yyyy/MM/dd");
}

<div class="text-left">
    <br />
    <h3 class="display-4 text-success text-center">QUẢN LÝ HỌC SINH</h3>
    <a href="javascript:;" onclick="student.openModal()" class="btn btn-primary" style="width: auto;">+ Thêm học sinh</a>
    <hr />
    <table id="tbStudents" class="table table-bordered table-hover table-primary mt-2">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>#ID</th>
                <th>Họ và tên</th>
                <th>Tên lớp</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Trạng thái</th>
                <th>Ảnh đại diện</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div class="modal" id="addEditStudentModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-primary" id="modalStudentTitle"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="fromAddEditStudent">
                    <input hidden name="StudentId" id="StudentId" value="0" />
                    <input hidden name="AvatarPath" id="AvatarPath" value="" />
                    <div class="row col-xl-12">
                        <div class="col-xl-8 col-md-12">
                            <div class="row form-group">
                                <label for="StudentName" class="col-3">Họ và tên:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Tên học sinh"
                                           id="StudentName" name="StudentName"
                                           data-rule-required="true"
                                           data-msg-required="Tên học sinh không được để trống"
                                           data-rule-maxlength="50"
                                           data-msg-maxlength="Tên học sinh quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="CourseName" class="col-3">Lớp:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Tên lớp"
                                           id="CourseName" name="CourseName"
                                           data-rule-required="true"
                                           data-msg-required="Tên lớp không được để trống"
                                           data-rule-maxlength="50"
                                           data-msg-maxlength="Tên lớp quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Gender" class="col-3">Giới tính:</label>
                                <div class="col-9">
                                    <select class="custom-select" id="Gender" name="Gender" 
                                            data-rule-required="true"
                                            data-msg-required="Chưa chọn giới tính">
                                        <option selected value="">-Chọn-</option>
                                        <option value="true">Nam</option>
                                        <option value="false">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Dob" class="col-3">Ngày sinh:</label>
                                <div class="col-9">
                                    <input type="date" class="form-control" my-date-format="dd/MM/yyyy"
                                           id="Dob" name="Dob"
                                           max="@maxDate"
                                           data-rule-required="true"
                                           data-msg-required="Ngày sinh không được để trống">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Email" class="col-3">Email:</label>
                                <div class="col-9">
                                    <input type="email" class="form-control" placeholder="Email"
                                           id="Email" name="Email"
                                           data-rule-required="true"
                                           data-msg-required="Email không được để trống"
                                           data-rule-maxlength="100"
                                           data-msg-maxlength="Email quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="PhoneNumber" class="col-3">Số điện thoại:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Số điện thoại"
                                           id="PhoneNumber" name="PhoneNumber"
                                           data-rule-required="true"
                                           data-msg-required="Số điện thoại không được để trống"
                                           data-rule-maxlength="20"
                                           data-msg-maxlength="Số điện thoại quá dài" />

                                    <label id="msgPhone" class="error"></label>
                                </div>
                            </div>
                            <div class="row form-group col-xs-12">
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="ProvinceId">Tỉnh/thành:</label>
                                        <select id="Province" name="Province" class="custom-select" onchange="student.changeProvince(this.value)"
                                                data-rule-required="true"
                                                data-msg-required="Chưa chọn Tỉnh/thành">
                                            <option selected value="">-Chọn-</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="DistrictId">Quận/huyện:</label>
                                        <select id="District" name="District" class="custom-select" onchange="student.changeDistrict(this.value)"
                                                data-rule-required="true"
                                                data-msg-required="Chưa chọn Quận/huyện">
                                            <option selected value="">-Chọn-</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="WardId">Phường/xã:</label>
                                        <select id="Ward" name="Ward" class="custom-select"
                                                data-rule-required="true"
                                                data-msg-required="Chưa chọn Phường/xã">
                                            <option selected value="">-Chọn-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="Address" class="col-3">Địa chỉ:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Địa chỉ"
                                           id="Address" name="Address"
                                           data-rule-required="true"
                                           data-msg-required="Địa chỉ không được để trống"
                                           data-rule-maxlength="100"
                                           data-msg-maxlength="Địa chỉ quá dài">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Avatar" class="col-3">Hình ảnh:</label>
                                <div class="col-9">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input form-control" placeholder="Ảnh đại diện"
                                               id="Avatar" name="Avatar">
                                        <label class="custom-file-label" for="Avatar" id="labelFile">Chọn file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12">
                            <div class="m-5">
                                <img src="@avatarPath" id="image_upload_preview" asp-append-version="true" style="width:300px; height: 300px;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-12">
                    <h5 class="alert alert-danger text-break text-center" id="msgResult"></h5>
                </div>
                <a href="javascript:;" class="btn btn-success" onclick="student.checkSave()">Lưu</a>
                <button type="button" class="btn btn-danger" id="closeModal" data-dismiss="modal">Hủy</button>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Avatar").change(function () {
            readURL(this);
        });

        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });
    </script>
    @*<script src="~/lib/bootbox.js/bootbox.min.js"></script>*@
    <script src="~/js/student.js" asp-append-version="true"></script>
}